<body>

  <h1 class = 'heading'> All Tasks</h1>
  <div class = 'welcomemenu'>
  <% @tasks.each do |task| %>
    <h3 class = 'title'><a href='/tasks/<%= task.id %>'><%= task.title %></a></h3>
    <p class = 'description'> <%= task.description %></p>
    <div class = 'edit'><a href='/tasks/<%= task.id %>/edit'> Edit </a></div>
    <form action="/tasks/<%= task.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input class = 'submit' type="submit" value="delete"/>
    </form>
  <% end %>
  </div>

  <footer>
    <h3><a href='/'> Home</a></h3>
    <p>Contact Marla at: marlaa.schulz@gmail.com</p>
    <p>LinkedIn: <a href='www.linkedin.com/in/marla-a-schulz'>linkedin.com/in/marla-a-schulz</a></p>
    <p>GitHub: <a href ='https://github.com/marlitas'>github.com/marlitas</a></p>
  </footer>
</body>
